<h1>James T. Kirk</h1>
<h2>seeking glory</h2>
<p>Welcome! The date and time is <%= Time.now %></p>
<% test_variable = 42 %>
<%= test_variable %>
<%= image_tag("fight6.jpg", class: "img-responsive my-image") %>

