<h1>James T. Kirk</h1>
<h2>seeking glory</h2>
<p>Welcome! The date and time is <%= Time.now %></p>
<img class="img-responsive my-image" src="https://www.flickeringmyth.com/wp-content/uploads/2016/02/captain-kirk-star-trek.jpg">
<% test_variable = %>
<%= test_variable %>




