// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    color: blue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
}

p {
    text-align: center;
}

.form-control {
    width: 30%;
    float: right;
}

.img-responsive {
    margin: auto;
}

.navbar-brand {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3.0em;
}

.container-fluid {
    font-family: Impact, Charcoal, sans-serif;
}

.btn {
    float: right;
}


.container {
    
   
    margin-left: 460px;
}

.cf {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
    color: blue;
}

h6 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3.0em;
    text-align: center;
}

input, textarea {
    border:0; outline:0;
    padding: 1em;
    display: block;
    width: 100%;
    margin-top: 1em;
    color: black;
}

button {
    margin-top: 15px;
}

.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right {
    width: 50%;
}
 
.left {
    margin-right: 2%;
}

#input-submit {
    color: white;
    background: red;
    cursor: pointer;
}

footer {
    font-family: Impact, Charcoal, sans-serif;
}

.twitter-follow-button {
    float: right;
}

.image-responsive {
    margin: auto;
}

#bs-example-navbar-collapse-1 {
    margin-top: 120px;
    font-size: 1.5em;
}