// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    color: blue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
}

p {
    text-align: center;
}

.form-control {
    width: 30%;
    float: right;
}

.img-responsive {
    margin: auto;
}

.navbar-brand {
    font-family: Impact, Charcoal, sans-serif;
}

.container-fluid {
    font-family: Impact, Charcoal, sans-serif;
}

.btn {
    float: right;
}